<form id='formComments'>
      <div class='mb-3'>
        <label class='form=label' for='authorInput'>Автор</label>
        <input type='text' class='form-control' name='author' id='authorInput' required/>
      </div>
      <div class='mb-3'>
        <label class='form=label' for='messageInput'>Сообщение</label>
        <input type='text' class='form-control' name='message' id='messageInput' required/>
      </div>
      <div class='form-group'>
        <label class='form=label' for='cover'>Аватар</label>
        <input type='file' class='form-control-file' name='avatar' id='avatar' required/>
      </div>
      <button class='btn btn-primary' type='button' id='submitComment'>Создать</button>
    </form>
  <script>
    const createComment = async () => {
      try {
        const form = document.getElementById('formComments')
        const formData = new FormData(form)
        for (const d of formData.entries()) {
          console.log(d);
        }
        let response = await fetch(`http://localhost:3000/api/comments/{{news.id}}`, {
          method: 'POST',
          body: formData,
        });
        const result = await response.json().then(() => {
          window.location.reload();
        })

        return result;
      } catch (e) {
        console.log(e);
      }
    }
    document.getElementById('submitComment').addEventListener('click', (e) => {
      console.log('click');
      createComment()
    });
  </script>